$background: #0c1012;
$accent: #10AED6;
$atlas-grey: #151b1f;
$atlas-dark: #111517;
$atlas-selected: #29343b;
$inspector-dark: #2e3336;
$inspector-light: #586366;

html{
    background: $background;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2 {
    font-weight: 700;
    color: $accent;
    letter-spacing: 0.2vh;
    font-size: 1.2vh;
}
h5{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}
#inspector{
    position: fixed;
    width: 30vmax;
    max-width: 40vh;
    height: 80%;
    top: 50%;
    right: 8vmax;
    transform: translateY(-50%);
    padding: 3vmin;
    z-index: 1;
    background-color: $background;
    border-radius: 3vmin;
    box-shadow: 0 0 18vmin -4vmin black;
    font-family: 'Source Sans Pro', sans-serif;
}
#path-name{
    font-size: 2.5vh;
    color: $inspector-light;
    font-weight: 600;
}
#path-name:hover{
    color: $accent;
    font-weight: 700;
    cursor: pointer;
}
#name{
    margin-top: .5vh;
    font-size: 3.8vh;
    color: white;
    font-weight: bold;
}
#filter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.8vh;
}
.t-type{
    font-size: 1.7vh;
    padding: 0.6vh 0.8vmax;
    margin-left: 0.7vh;
    flex: 1;
    color: white;
    border-radius: 0.4vh;
    cursor: pointer;
    font-weight: 400;
    transition: background .1s, border-left .1s, color .1s;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.t-type:hover{
    border-left: solid $inspector-light 1vh;
    color: $inspector-light;
    background: $inspector-dark;
}
.t-type:first-child{
    margin-left: 0 !important;
}
#i-wrapper{
    width: 100%;
    height: 12vh;
    margin-top: 1.8vh;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}
#i-wrapper h5{
    color: white;
    font-size: 2.2vh !important;
    margin-top: 0.3vh;
}
#i-pie{
    width: 10vh;
    height: 12vh;
    flex: 0 0 100%;
}
#i-count {
    width: 5vh;
    margin-left: 0.6vh;
    flex: 0 0 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white;
    h3{
        background: none;
        padding: 0.2vh 0.5vh;
        border-left-width: 0.5vh;
        margin: 0.3vh 0;
        font-size: 1.5vh;
        font-weight: 400;
        transition: border .3s, color .15s;
    }
}
.i-block{
    flex: 0 0 28%;
    margin-left: 1.8vh;
}

#tf-wrapper{
    width: 100%;
    height: 3.6vh;
    margin-top: 1.8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    h2{
        flex: 0 0 100%;
    }
}
#tf-value{
    order: 2;
    flex: 0 0 10%;
}
#tf-slider{
    order: 3;
    flex: 0 0 88%;
    -webkit-appearance: none;
    appearance: none;
    height: 0.5vh;
    outline: none;
    background: $inspector-dark;
    border-radius: 0.25vh;

}
#tf-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 1vh;
    height: 2vh;
    border-radius: 0.3vh;
    background: $accent;
    cursor: pointer;
}

#tf-slider::-moz-range-thumb {
    width: 1.8vh;
    height: 2vh;
    background: $accent;
    cursor: pointer;
}
#hg-wrapper{
    margin-top: 1.4vh;
 }
#hg-chart{
    margin-top: 1vh;
    width: 100%;
}
.hg-axis{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.hg-legend-item{
    cursor: help;
}
#ch-wrapper{
    width: 100%;
    margin-top: 1.4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    h2{
        flex: 0 0 100%;
    }
}
.ch-toggle{
    background: $inspector-dark;
    flex-grow: 1;
    margin: .8vh 0 .8vh .6vh;
    padding: 1.2vh;
    border-radius: 0.3vh;
    color: white;
    cursor: pointer;
    font-size: 1.6vh;
    font-weight: 400;
    transition: background .1s;
}
.ch-toggle:hover{
    background: $accent;
}
.ch-toggle.active{
    background: $accent;
    font-weight: bold;
}
.ch-toggle:first-of-type{
    margin-left: 0 !important;
}
#ch-scale{
    flex: 0 0 100%;
}
.ch-legend-item{
    font-size: 1vh;
    cursor: help;
}
.cregion{
    transition: fill .1s;
}

#atlas {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.selected{
    fill: $atlas-selected !important;
}
.district{
    fill: $atlas-grey;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: none;
}
.district.hover{
    fill: $atlas-selected;
}
.region{
    fill: $atlas-grey;
    stroke-linejoin: round;
    cursor: none;
}
.region.hover{
    fill: $atlas-selected;
}
.circles{
    pointer-events : none;
}
.bus{
    fill: #48F648;
    border-left: solid #48F648 1vh;
    background: #1e681e;
}
.tram{
    fill: #ff3533;
    border-left: solid #ff3533 1vh;
    background: #691b1b;
}
.trol{
    fill: #2190ff;
    border-left: solid #2190ff 1vh;
    background: #112c69;
}
.dim{
    fill: $atlas-grey;
    border-left: solid $inspector-light 1vh;
    background: $inspector-dark;
    color: $inspector-light;
}
.dimd{
    fill: $atlas-dark;
}

/* Tooltip */
#tooltip{
    position: absolute;
    width: 15.5vh;
    left: -50vh;
    top: -50vh;
    padding: 1.4vh;
    background: white;
    border-radius: 0 1vh 1vh 1vh;
    box-shadow: 1vh 1vh 3vh -1vh $background;
    font-family: 'Source Sans Pro', sans-serif;
    transform-origin: top left;
    opacity: 0;
    transition: transform .2s, opacity .2s;
    transform: scale(0.8);
    pointer-events: none;
}
#tooltip.active{
    transform: scale(1);
    opacity: 1;
}
#tooltip h5{
    color: $background;
    font-size: 2vh;
}
#tooltip h2{
    font-size: 1.1vh !important;
    letter-spacing: 0.1vh;
}
#tt-name{
    font-size: 1.6vh;
    color: #111415;
    font-weight: bold;
    margin-top: 0.4vh;
}
#tt-info{
    margin-top: 1vh;
    display: flex;
    height: 6.5vh;
    flex-flow: column wrap;
    justify-content: space-between;
}
#tt-pie{
    height: 7vh;
    width: 7vh;
    padding-right: 0.3vh;
}